*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: white;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

.hidden-xs{
    display: none !important;
}

.visible-sm{
    display: none;
}

.visible-md{
    display: none;
}

.row-container{
    padding: 24px;
}


.title-section{
    font-size: 24px;
    font-weight: 800;
}

.title-section:hover{
    text-decoration: underline;
}

.row{
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
}

.box{
    flex-shrink: 0;
    width: 165px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.box-empty{
    display: none;
}

.title-box{
    font-size: 14px;
    font-weight: 800;
    margin: 15px 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description{
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.circle{
    border-radius: 50%;
}

.square{
    width: 32px;
    height: 32px;
}

.box img{
    width: 100%;
}

#main-view{
    height: calc(100vh - 110px);
    background-image: linear-gradient(to bottom right,#333, #222, #111, #000);
    overflow-y: auto;
}

header{
    text-align: right;
    padding: 0 24px;
}

header a{
    display: inline-block;
    margin: 15px 0;
}

#main-player{
    height: 50px;
    background-color: #222;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.container-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
}

#main-player button{
    font-size: 24px;
    margin-right: 10px;
}

#info-song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 35px);
}

.title{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 14px;
}

.artist{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    opacity: .5;
}

#info-song a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#main-menu{
    height: 60px;
    background-color: #222;
    border-top: 1px solid black;
}

.container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#main-menu button{
    min-width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
}

#main-menu i{
    font-size: 22px;
}

#main-menu span{
    font-size: 11px;
    margin-top: 5px;
}

#main-menu .active{
    opacity: 1;
}

@media (min-width: 768px) {
    .hidden-xs{
        display: inherit !important;
    }

    .visible-xs{
        display: none !important;
    }

    .visible-sm{
        display: inherit;
    }

    main{
        display: flex;
        flex-wrap: wrap;
    }

    #main-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        order: -1;
        flex-shrink: 0;
        width: 230px;
        height: calc(100vh - 90px);
        background-color: #000;
        padding: 24px 10px;
        overflow: auto;
    }

    .container-menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        flex-shrink: 0;
    }

    #main-menu .logo{
        padding-bottom: 18px;
        padding-left: 14px;
        opacity: 1;
    }

    #main-menu button{
        width: 100%;
        padding: 10px 15px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #main-menu .active{
        background-color: #222;
    }

    #main-menu span{
        margin-left: 15px;
        margin-top: 0;
        font-size: 13px;
        font-weight: 800;
    }

    #main-menu p{
        margin: 24px 15px 8px;
        opacity: .5;
        text-transform: uppercase;
        font-size: 12px;
    }

    #main-menu a{
        width: 100%;
        padding: 0 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        opacity: .5;
    }

    #main-menu button .square{
        background-color: #fff;
    }

    #main-menu button .square span{
        color: #000;
        font-size: 30px;
        font-weight: 400;
        margin: auto;
    }

    #main-menu a .square i{
        font-size: 16px;
        margin: 8px;
    }

    #main-menu a .square{
        background: linear-gradient(135deg, #450af5, #c4efd9);
    }

    #main-menu hr{
        width: 180px;
        margin: 15px 10px;
        opacity: .15;
    }

    #main-menu a:last-child{
        margin-top: 15px;
    }

    #main-menu button:hover,
    #main-menu a:hover{
        opacity: 1;
    }

    #main-view{
        width: calc(100% - 230px);
        height: calc(100vh - 90px);
        background-color: #111;
        background-image: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .arrow-nav{
        font-size: 24px;
        background-color: #000;
        padding: 5px 15px;
        margin-right: 15px;
    }

    .container-account{
        display: flex !important;
        align-items: center;
    }

    .account{
        margin:15px 0 15px 15px;
        display: flex;
        align-items: center;
        background-color: #000;
        border-radius: 23px;
        padding: 2px;
    }

    .account span{
        font-size: 12px;
        font-weight: 700;
        margin-left: 8px;
    }

    .account span i{
        margin-right: 8px;
    }

    .account:hover{
        background-color: #222;
    }

    .row{
        overflow: auto;
    }

    .show-all{
        font-size: 14px;
        text-transform: uppercase;
        opacity: .5;
        margin: 12px 15px 0;
    }

    .show-all:hover{
        text-decoration: underline;
    }

    .box{
        flex-shrink: 1;
        flex-grow: 1;
        background-color: #222;
        padding: 15px;
        min-width: 165px;
        max-width: 210px;
        border-radius: 10px;
        position: relative;
    }

    .box:not(.box-empty)::after{
        content: "\f04b";
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        display: none;
        font-family: "Font Awesome 5 Free";
        padding: 13px;
        padding-left: 15px;
        border-radius: 50%;
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: #1db954;
    }

    .box:hover::after{
        display: block;
    }

    #main-player{
        flex-shrink: 0;
        width: 100%;
        height: 90px;
    }

    .container-info{
        justify-content: flex-start;
        width: auto;
    }

    #main-player .like{
        order: 1;
        opacity: 1;
    }

    #main-player .fa-heart{
        font-weight: 800;
        color: #1db954;
    }

    .container-info .wrap-img{
        margin-right: 15px;
        position: relative;
    }

    .container-info .wrap-img::after{
        content: "\f106";
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        display: none;
        font-family: "Font Awesome 5 Free";
        padding: 5px 8px;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: #000;
    }

    .container-info .wrap-img:hover{
        cursor: pointer;
    }

    .container-info .wrap-img:hover::after{
        display: block;
    }

    #music-player{
        width: calc(100% - 300px);
        max-width: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #controller{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
    }

    #music-range{
        width: 90%;
        padding: 30px 0 10px;
        position: relative;
    }

    #music-range span{
        font-size: 14px;
    }

    #music-range span:first-child{
        position: absolute;
        left:0;
        top: 50%;
        transform: translateY(-50%);
    }

    #music-range span:last-child{
        position: absolute;
        left: calc(100% - 27px);
        top: 50%;
        transform: translateY(-50%);
    }

    #music-range .circle{
        display: none;
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: calc(40% - 7.5px);
        transform: translateY(-50%);
    }

    #music-range::before{
        content: " ";
        width: calc(40% - 35px);
        height: 4px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
    }

    #music-range::after{
        content: " ";
        width: calc(60% - 35px);
        height: 4px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translateY(-50%);
        opacity: 0.5
    }

    #music-range:hover{
        cursor: pointer;
    }

    #music-range:hover .circle{
        display: block;
    }

    #music-range:hover::before{
        background-color: #1db954;
    }

    #pause i{
        font-size: 28px;
    }

    #pause:hover{
        transform: scale(1.2);
    }

    #main-player .container-info button{
        margin-right: 0;
    }

    #main-player button{
        margin-left: 15px;
        font-size: 14px;
        opacity: 0.5;
    }

    #main-player button:hover{
        opacity: 1;
    }
}

@media (min-width:1024px){
    .visible-md{
        display: inherit;
    }

    .row{
        overflow: hidden;
    }

    .row-title{
        display: flex;
        justify-content: space-between;
    }

    .box-empty{
        display: block;
        padding: 0;
        background-color: transparent;
    }

    .container-account{
        margin-right: 15px;
    }

    .btn{
        font-size: 12px;
        font-weight: 700;
        padding: 8px 34px;
        border: 1px solid #555;
        border-radius: 25px;
        text-transform: uppercase;
        display: inline-block;
    }

    .btn:hover{
        transform: scale(1.1);
    }

    .maximize{
        order: 2;
    }

    #controller-volume{
        display: flex;
        align-items: center;
        position: relative;
        flex-shrink: 0;
        width: 200px;
    }

    #controller-volume button{
        margin: 0 7.5px;
    }

    #controller-volume #volume{
        opacity: 1;
        padding-right: 87px;
    }

    #controller-volume #volume i{
        color: #999;
    }

    #volume::before{
        content: " ";
        width: 60px;;
        height: 4px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translateY(-50%);
        opacity: 1;
    }

    #volume::after{
        content: " ";
        width: 20px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: calc(45% + 60px);
        transform: translateY(-50%);
        opacity: .5;
    }

    #volume .circle{
        display: none;
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: calc(45% + 52.5px);
        transform: translateY(-50%);
        opacity: 1;
    }

    #controller-volume #volume:hover i{
        color: #fff;
    }

    #volume:hover::before{
        background-color: #1db954;
    }

    #volume:hover .circle{
        display: block;
    }

    .box:nth-child(1n + 5){
        display: none;
    }
}

@media (min-width:1200px) {
    .box:nth-child(5){
        display: flex;
    }
}

@media (min-width:1375px) {
    .box:nth-child(6){
        display: flex;
    }
}

@media (min-width:1550px) {
    .box:nth-child(7){
        display: flex;
    }
}

@media (min-width:1725px) {
    .box:nth-child(8){
        display: flex;
    }
}

@media (min-width:1900px) {
    .box:nth-child(9){
        display: flex;
    }
}
